$primary: #46526b;
$font-primary: #ebebeb;
$font-secondary: #38435c;
$blue: #3880ce;
$purple: #a813aa;

@mixin flex($direction, $content, $items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
}
@mixin title($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    padding-bottom: 0.5em;
}

/* --------------- GENERAL -------------- */
* {
    padding: 0;
    margin: 0;
}
html {scroll-behavior: smooth;}
body {
    color: $font-primary;
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
    background-image: url(images/blue2-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 0 3rem 2rem 3rem;
    // This creates a blurred fixed background to my content
}
.presentation, .skills, .exp {
    padding: 3rem 5rem;
}
.middot {
    color: $blue;
    padding: 0 0.5rem;
    font-size: 1.2rem;
}

/* ----------------- NAV ----------------*/
.nav {
    background-color: transparent;
    @include flex(row, center, center);
    &__btn {
        margin: 1.5rem 0;
        padding: 0.5rem 2rem;
        color: $font-secondary;
        text-decoration: none;
        font-size: 1.1rem; 
        font-weight: 300;
        border-radius: 10px;
        cursor: pointer;
        transition: .3s;
        &:hover {
            background-color: #ebebeb48;
            box-shadow: 0px 5px 10px darken($primary, 10);;
        }
    }
}

/* ------------- PRESENTATION ----------------*/
.presentation {
    height: auto;
    background-color: $primary;
    border-radius: 10px;
    box-shadow: 0px 5px 10px darken($primary, 10);
    @include flex(row, space-between, center);
    &__img{
        width: 45%;
        border-radius: 10px;
        max-width: 700px;
    }
    &__content { 
        width: 50%;
        &__h1 {
            font-size: 3rem;
            font-weight: 500;
            text-transform: uppercase;
        }
        &__h2 {
            font-size: 2.3em;
            font-weight: 300;
        }
    }
}
.social {
    padding: 2rem 0;
    width: 50%;
    @include flex(row, space-between, center);
    &__link {
        background-image: linear-gradient(45deg, $blue, $purple);
        border-radius: 50%;
        box-shadow: 0px 5px 10px darken($primary, 10);
        width: 3rem;
        height: 3rem;
        @include flex(row, center, center);
        text-decoration: none;
        transition: .3s;
        &:hover {
            box-shadow: 0px 2px 2px darken($primary, 10);
        }
        & i {
            font-size: 1.3rem;
            color: $font-primary;
        }
    }
}

/* ---------------- QUOTE ----------------*/
.quote {
    color: $font-secondary;
    background-color: transparent;
    padding: 5rem 10rem;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 600;
    @include flex(row, center, center);
    text-align: center;
}

/* ---------------- SKILLS ----------------*/
.skills {
    background-color: lighten($primary, 5);
    border-radius: 10px 10px 0 0;
    padding-bottom: 0;
    @include flex(column, space-between, flex-start);
    & .plus-infos {
        padding-top: 1rem;
        &__title {
            @include title(1.5rem, 600, $font-primary);
        } 
        &__detail {
            font-size: 1rem;
        }
    }
    &__block{
        width: 100%;
        position: relative;
        top: 7em;
        @include flex(row, space-between, center);
        &__tech, &__graph, &__soft {
            line-height: 1.7rem;
            height: 20rem;
            width: 25%;
            background-color: darken($primary, 3);
            padding: 2rem;
            border: none;
            border-radius: 10px;
            box-shadow: 3px 3px 10px darken($primary, 10);
            & p {
                @include flex(row, flex-start, flex-start);
                font-size: 1rem; 
            }
            & .title {
                @include title(1.7rem, 700, $blue);
                padding-bottom: 0.5em;
            }
        } 
    }
}

/* ------------- EXPERIENCE ----------------*/
.exp {
    padding-top: 8rem;
    background-color: $primary;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 5px 10px darken($primary, 10);
    @include flex(column, flex-start, flex-start);
    &__title {
        @include title(1.7rem, 600, $font-primary);
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        &__diploma {
            width: 20%;
        }
        &__internship, &__pro {
            width: 35%;
        }
        &__diploma, &__internship, &__pro {
            margin: 1rem;
            &__title {
                @include title(1.4rem, 300, $font-primary);
                font-style: italic;
            }
            &__block {
                padding: 1rem 0;
                font-size: 0.9rem;
                & .date {
                    @include title(1.1rem, 500, $blue);
                }
                & .activity {
                    @include flex(row, flex-start, flex-start);
                }
            }
        }
    }
}

/* ---------------- PORTFOLIO ----------------*/
.portfolio {
    padding: 3rem 0;
    color: $font-secondary;
    &__title {
        text-transform: uppercase;
        @include title(1.7rem, 600, $font-secondary);
        padding-top: 3rem;
    }
}
.card {
    margin: 4rem 0;
    position: relative;
    height: 20rem;
    width: 100%;
    transform-style: preserve-3d;
    perspective: 4000px;
    transition: .5s;
    color: $font-primary;
    &:hover .card__front {
        transform: rotateX(180deg);
    }
    &:hover .card__back {
        transform: rotateX(0deg);
    }
    &__front {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0px 5px 10px darken($primary, 10);
        @include flex(row, center,center);
        position: absolute;
        backface-visibility: hidden;
        transition: .5s;
        
    }
    &__back {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0px 5px 10px darken($primary, 10);
        position: absolute;
        @include flex(column, center, flex-start);
        background-color: lighten($primary, 5);
        backface-visibility: hidden;
        transform: rotateX(-180deg);
        transition: .5s;
        &__techno, &__duration, &__text {
            font-size: 1.1rem;
            margin: 1rem 2rem;
        }
        & em {
            font-size: 1.3rem;
        }
        & a {
            color: $blue;
            font-weight: 600;
            text-decoration: none;
        }
    }
    &__title {
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        font-size: 2.2rem;
        font-weight: 600;
    }
}    
.front-codepen1 { background-image: linear-gradient(#475577c4, #475577c4), url("./images/codepen1.png"); }
.front-codepen2 { background-image: linear-gradient(#475577c4, #475577c4), url("./images/codepen2.png"); }
.front-forum { background-image: linear-gradient(#475577c4, #475577c4), url("./images/forum.png"); }
.front-restau { background-image: linear-gradient(#475577c4, #475577c4), url("./images/restaurant.png"); }
.front-mwenbwa { background-image: linear-gradient(#475577c4, #475577c4), url("./images/mwenbwa.png"); }
.front-codepen1, .front-codepen2, .front-forum, .front-restau, .front-mwenbwa {
    background-repeat: no-repeat;
    background-size: cover;
}

/* ----------------- FOOTER ------------------ */
footer {
    padding: 2rem;
    background-color: $primary;
    border-radius: 10px;
    box-shadow: 0px 5px 10px darken($primary, 10);
    @include flex(column, center, center);
    & .social {
        padding-bottom: 3rem;
        width: 80%;
    }
    & .sources {
        font-size: 0.9rem;
    }
}



// ------------------------------ RESPONSIVE RESPONSIVE RESPONSIVE ----------------------------
// ------------------------------ RESPONSIVE RESPONSIVE RESPONSIVE ----------------------------

@media only screen and (max-width: 1280px) {
    .presentation__content__h1 {
        font-size: 2.5rem;
    }
    .presentation, .skills, .exp {
        padding: 3rem 4rem;
    }
    .social {
        width: 90%;
        &__link i {
            font-size: 1.1rem;
        }
    }
    .quote {
        padding: 5rem;
    }
    .exp{
        padding-top: 5rem;
    }
    .exp__content {
        &__diploma {width: 30%;}
        &__internship {width: 55%;}
        &__pro {width: 100%;}
    }
    .skills__block{
        flex-direction: column;
        &__tech, &__graph, &__soft {
            height: auto;
            width: 80%;
            margin: 0.5rem;
            .title {
                text-align: center;
            }
        }
    }
}