/* --------------- GENERAL -------------- */
* {
  padding: 0;
  margin: 0;
}

body {
  color: #ebebeb;
  font-family: "Poppins", sans-serif;
  background-image: url(images/purple-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(20px);
  padding: 0 3em;
}

.presentation, .skills, .exp, .portfolio {
  padding: 4em 8em;
}

.middot {
  color: #3880ce;
  padding: 0 0.5em;
  font-size: 1.2em;
}

/* ----------------- NAV ----------------*/
.nav {
  height: 7em;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav__btn {
  padding: 0.5em 2em;
  color: #ebebeb;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 200;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.nav__btn:hover {
  background-color: #ebebeb48;
  box-shadow: 0px 5px 10px #171b24;
}

/* ------------- PRESENTATION ----------------*/
.presentation {
  height: 45em;
  background-color: #2b3343;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #171b24;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.presentation__img {
  width: 45%;
}
.presentation__content {
  width: 45%;
}
.presentation__content__h1 {
  font-size: 4em;
  font-weight: 500;
  text-transform: uppercase;
}
.presentation__content__h2 {
  font-size: 2.5em;
  font-weight: 300;
}
.presentation__content__social {
  padding: 2em 0;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.presentation__content__social__link {
  background-image: linear-gradient(45deg, #3880ce, #810083);
  border-radius: 50%;
  box-shadow: 0px 5px 10px #171b24;
  width: 3.5em;
  height: 3.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.3s;
}
.presentation__content__social__link:hover {
  box-shadow: 0px 2px 2px #171b24;
}
.presentation__content__social__link i {
  font-size: 1.7em;
  color: #ebebeb;
}

/* ---------------- QUOTE ----------------*/
.quote {
  padding: 3em 12em;
  background-color: transparent;
  height: 5em;
  font-size: 1.6em;
  font-style: italic;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ---------------- SKILLS ----------------*/
.skills {
  background-color: #353f53;
  border-radius: 10px 10px 0 0;
  padding-bottom: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.skills .plus-infos {
  width: 100%;
  padding: 1em 0;
}
.skills .plus-infos__title {
  font-size: 2em;
  font-weight: 500;
  color: #ebebeb;
  padding-bottom: 0.5em;
}
.skills .plus-infos__detail {
  font-size: 1.2em;
}
.skills__block {
  width: 100%;
  position: relative;
  top: 7em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.skills__block__tech, .skills__block__graph, .skills__block__soft {
  line-height: 2.3em;
  height: 25em;
  width: 20em;
  background-color: #252c3a;
  padding: 3em;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #171b24;
}
.skills__block__tech div, .skills__block__graph div, .skills__block__soft div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.skills__block__tech .title, .skills__block__graph .title, .skills__block__soft .title {
  font-size: 2.5em;
  font-weight: 700;
  color: #3880ce;
  padding-bottom: 0.5em;
  padding-bottom: 0.5em;
}

/* ------------- EXPERIENCE ----------------*/
.exp {
  padding-top: 12em;
  background-color: #2b3343;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 5px 10px #171b24;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.exp__title {
  font-size: 3em;
  font-weight: 600;
  color: #ebebeb;
  padding-bottom: 0.5em;
}
.exp__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.exp__content__diploma, .exp__content__internship, .exp__content__pro {
  width: 33%;
}
.exp__content__diploma__title, .exp__content__internship__title, .exp__content__pro__title {
  font-size: 2em;
  font-weight: 300;
  color: #ebebeb;
  padding-bottom: 0.5em;
  font-style: italic;
}
.exp__content__diploma__block, .exp__content__internship__block, .exp__content__pro__block {
  padding: 1em 0;
}
.exp__content__diploma__block .date, .exp__content__internship__block .date, .exp__content__pro__block .date {
  font-size: 1.2em;
  font-weight: 500;
  color: #3880ce;
  padding-bottom: 0.5em;
}
.exp__content__diploma__block .activity, .exp__content__internship__block .activity, .exp__content__pro__block .activity {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}