/* --------------- GENERAL -------------- */
* {
  padding: 0;
  margin: 0;
}

body {
  color: #ebebeb;
  font-family: "Poppins", sans-serif;
}

.presentation, .quote, .skills, .exp, .portfolio {
  padding: 6em 15em;
}

/* ----------------- NAV ----------------*/
nav {
  height: 5em;
  background-color: #3f4b62;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav div {
  padding: 0 2em;
  font-size: 1.2em;
  font-weight: 200;
}

/* ------------- PRESENTATION ----------------*/
.presentation {
  height: 55em;
  background-color: #2b3343;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.presentation__img {
  padding: 3em 0;
  margin-left: -15em;
}
.presentation__content h1 {
  font-size: 4em;
  font-weight: 500;
}
.presentation__content h2 {
  font-size: 2em;
  font-weight: 200;
}

/* ---------------- QUOTE ----------------*/
.quote {
  background-color: #3f4b62;
  height: 5em;
  font-size: 1.3em;
  font-style: italic;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ---------------- SKILLS ----------------*/
.skills {
  background-color: #2b3343;
  padding-bottom: 5em;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.skills .plus-infos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.skills .plus-infos__lang {
  width: 50%;
}
.skills .plus-infos__lang__fr, .skills .plus-infos__lang__eng {
  padding: 1em 0;
}
.skills .plus-infos__lang__fr .title, .skills .plus-infos__lang__eng .title {
  font-size: 1.5em;
  font-weight: 700;
  color: #1863b4;
  padding-bottom: 0.5em;
}
.skills .plus-infos__hobb {
  padding: 1em 0;
  width: 50%;
}
.skills .plus-infos__hobb .title {
  font-size: 1.5em;
  font-weight: 700;
  color: #1863b4;
}
.skills__block {
  width: 100%;
  position: relative;
  top: 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.skills__block__tech, .skills__block__graph, .skills__block__soft {
  height: 17em;
  width: 15em;
  background-color: #252c3a;
  padding: 3em;
  border: none;
  border-radius: 10px;
}
.skills__block__tech div, .skills__block__graph div, .skills__block__soft div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.skills__block__tech .title, .skills__block__graph .title, .skills__block__soft .title {
  font-size: 2.5em;
  font-weight: 600;
  color: #ebebeb;
  padding-bottom: 0.5em;
}

/* ------------- EXPERIENCE ----------------*/
.exp {
  padding-top: 10em;
  background-color: #3f4b62;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.exp__title {
  font-size: 3em;
  font-weight: 600;
  color: #ebebeb;
}
.exp__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.exp__content__diploma, .exp__content__internship, .exp__content__pro {
  width: 33%;
}