$primary: #2b3343;
$font-primary: #ebebeb;
$blue: #2c74c2;
$purple: #810083;

@mixin flex($direction, $content, $items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
}
@mixin title($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    padding-bottom: 0.5em;
}

/* --------------- GENERAL -------------- */
* {
    padding: 0;
    margin: 0;
}
body {
    color: $font-primary;
    font-family: "Poppins", sans-serif;
    background-image: url(../images/purple-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(20px);
    padding: 0 3em;
    // This creates a blurred fixed background to my content
}
.presentation, .skills, .exp, .portfolio {
    padding: 4em 8em;
}
.middot {
    color: $blue;
    padding: 0 0.5em;
    font-size: 1.2em;
}

/* ----------------- NAV ----------------*/
nav {
    height: 7em;
    background-color: transparent;
    @include flex(row, center, center);
    & div {
        padding: 0.5em 2em;
        font-size: 1.2em;
        font-weight: 200;
        border-radius: 10px;
        cursor: pointer;
        transition: .3s;
        &:hover {
            background-color: #ebebeb48;
            box-shadow: 0px 5px 10px darken($primary, 10);;
        }
    }
}

/* ------------- PRESENTATION ----------------*/
.presentation {
    height: 45em;
    background-color: $primary;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 5px 10px darken($primary, 10);
    @include flex(row, space-between, center);
    &__img{
        width: 45%;
    }
    &__content { 
        width: 45%;
        &__h1 {
            font-size: 4em;
            font-weight: 500;
            text-transform: uppercase;
        }
        &__h2 {
            font-size: 2.5em;
            font-weight: 300;
        }
        &__social {
            padding: 2em 0;
            width: 60%;
            @include flex(row, space-between, center);
            &__link {
                background-image: linear-gradient(45deg, $blue, $purple);
                border-radius: 50%;
                box-shadow: 0px 5px 10px darken($primary, 10);
                width: 3.5em;
                height: 3.5em;
                @include flex(row, center, center);
                text-decoration: none;
                transition: .3s;
                &:hover {
                    box-shadow: 0px 2px 2px darken($primary, 10);
                }
                & i {
                    font-size: 1.7em;
                    color: $font-primary;
                }
            }
        }
    }
}

/* ---------------- QUOTE ----------------*/
.quote {
    padding: 3em 12em;
    background-color: transparent;
    height: 5em;
    font-size: 1.6em;
    font-style: italic;
    font-weight: 300;
    @include flex(row, center, center);
    text-align: center;
}

/* ---------------- SKILLS ----------------*/
.skills {
    background-color: $primary;
    border-radius: 10px 10px 0 0;
    padding-bottom: 0;
    position: relative;
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    & .plus-infos {
        width: 100%;
        @include flex(row, space-between, flex-start);
        &__fr, &__eng {
            width: 50%;
            padding: 1em 0;
            & .title {
                @include title(2em, 500, $font-primary);
            } 
        }
    }
    &__block{
        width: 100%;
        position: relative;
        top: 7em;
        @include flex(row, space-between, center);
        &__tech, &__graph, &__soft {
            line-height: 2.3em;
            height: 25em;
            width: 20em;
            background-color: darken($primary, 3);
            padding: 3em;
            border: none;
            border-radius: 10px;
            & div {
                @include flex(row, flex-start, flex-start);
            }
            & .title {
                @include title(2.5em, 700, $blue);
                padding-bottom: 0.5em;
            }
        } 
    }
}

/* ------------- EXPERIENCE ----------------*/
.exp {
    padding-top: 15em;
    background-color: lighten($primary, 10);
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 5px 10px darken($primary, 10);
    @include flex(column, flex-start, flex-start);
    &__title {
        @include title(3em, 600, $font-primary);
    }
    &__content {
        @include flex(row, space-between, flex-start);
        &__diploma, &__internship, &__pro {
            width: 33%;
            &__title {
                @include title(2em, 300, $blue);
            }
        }
    }
    
}