$primary: #2b3343;
$font-primary: #ebebeb;
$blue: #1863b4;
$purple: #810083;

@mixin flex($direction, $content, $items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
}
@mixin title($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

/* --------------- GENERAL -------------- */
* {
    padding: 0;
    margin: 0;
}
body {
    color: $font-primary;
    font-family: "Poppins", sans-serif;
}
.presentation, .quote, .skills, .exp, .portfolio {
    padding: 6em 15em;
}

/* ----------------- NAV ----------------*/
nav {
    height: 5em;
    background-color: lighten($primary, 10);
    @include flex(row, center, center);
    & div {
        padding: 0 2em;
        font-size: 1.2em;
        font-weight: 200;
    }
}

/* ------------- PRESENTATION ----------------*/
.presentation {
    height: 55em;
    background-color: $primary;
    @include flex(row, space-between, center);
    &__img {
        padding: 3em 0;
        margin-left: -15em;
    }
    &__content h1 {
        font-size: 4em;
        font-weight: 500;
    }
    &__content h2 {
        font-size: 2em;
        font-weight: 200;
    }
}

/* ---------------- QUOTE ----------------*/
.quote {
    background-color: lighten($primary, 10);
    height: 5em;
    font-size: 1.3em;
    font-style: italic;
    font-weight: 300;
    @include flex(row, center, center);
    text-align: center;
}

/* ---------------- SKILLS ----------------*/
.skills {
    background-color: $primary;
    padding-bottom: 5em;
    position: relative;
    @include flex(row, space-between, center);
    flex-wrap: wrap;

    & .plus-infos {
        width: 100%;
        @include flex(row, space-between, flex-start);
        &__lang {
            width: 50%;
            &__fr, &__eng {
                padding: 1em 0;
                & .title {
                    @include title(1.5em, 700, $blue);
                    padding-bottom: 0.5em;
                } 
            }
        }
        &__hobb {
            padding: 1em 0;
            width: 50%;
            & .title {
                @include title(1.5em, 700, $blue);
            }
        }
    }
    &__block{
        width: 100%;
        position: relative;
        top: 10em;
        @include flex(row, space-between, center);
        &__tech, &__graph, &__soft {
            height: 17em;
            width: 15em;
            background-color: darken($primary, 3);
            padding: 3em;
            border: none;
            border-radius: 10px;
            & div {
                @include flex(row, flex-start, flex-start);
            }
            & .title {
                @include title(2.5em, 600, $font-primary);
                padding-bottom: 0.5em;
            }
        } 
    }
}

/* ------------- EXPERIENCE ----------------*/
.exp {
    padding-top: 10em;
    background-color: lighten($primary, 10);
    @include flex(column, flex-start, flex-start);
    &__title {
        @include title(3em, 600, $font-primary);
    }
    &__content {
        @include flex(row, space-between, flex-start);
        &__diploma, &__internship, &__pro {
            width: 33%;
        }
    }
    
}